@import '../../define';
@use 'sass:math';

$range-thumb-width: 8px;
$base-circle-radius: 5px;
$card-v-padding: 6px;
$card-h-padding: 16px;

.feature-card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  border-radius: $border-radius;
  padding: $card-v-padding $card-h-padding;
  box-shadow: $shadow-border-card;
  background: white;
  position: relative;
  border: 1px solid $gray-300;

  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: box-shadow 100ms cubic-bezier(0.645, 0.045, 0.355, 1);

  &.collapsed {
    background: $gray-100;
  }

  &:hover {
    box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.06),
      0px 0px 10px hsla(0, 0%, 0%, 0.1);
  }
}

.feature-header {
  width: calc(100% + #{2 * $card-h-padding});
  flex: 0 0 auto;
  margin: #{-$card-v-padding} #{-$card-h-padding} 0px #{-$card-h-padding};
  padding: $card-v-padding $card-h-padding 2px $card-h-padding;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border-bottom: 1px solid adjust-color($gray-light-border, $alpha: -0.05);

  background: $gray-100;
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: flex-start;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .feature-info {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;

    .feature-name {
      font-weight: 600;
    }
  }

  &.collapsed {
    border-bottom: none;
  }

  .card-icons {
    display: flex;
    flex-direction: row;
    gap: 2px;

    .svg-icon {
      fill: $gray-400;
      cursor: pointer;
      position: relative;

      :global(svg) {
        width: 1.3rem;
        height: 1.3rem;
      }

      .local-tooltip {
        transform: translateX(-50%) translateY(-4px) scale(0);
        width: initial;
      }

      &:hover {
        fill: adjust-color($color: $gray-400, $lightness: -5%);

        .local-tooltip {
          transition-delay: 200ms;
          transform: translateX(-50%) translateY(-4px) scale(1);
        }
      }

      &:active {
        fill: adjust-color($color: $gray-400, $lightness: -10%);
      }
    }

    &.collapsed {
      display: none;
    }
  }
}

.values {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;

  .value-change {
    font-size: 0.8rem;
    padding: 0px 14px 8px 5px;
    margin: -5px 0 0 0;
    color: $green-600;

    &.user {
      color: $blue-600;
    }
  }
}

.feature-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  color: $gray-500;

  &.user {
    color: $gray-500;
  }
}

.svg-icon {
  color: $gray-800;
  fill: $gray-800;
  display: flex;
  align-items: center;
  justify-content: center;

  :global(svg) {
    width: 1rem;
    height: 1rem;
  }
}

.arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  height: 5px;

  &::after,
  &::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px;
  }

  &::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(45deg);
    bottom: 7px;
  }

  &::before {
    width: calc(100% - 4px);
    height: 2px;
    bottom: 10px;
    background: currentColor;
  }
}

.feature-hist {
  position: relative;
  width: 100%;
  visibility: hidden;

  &.collapsed {
    display: none;
  }

  &.expanded {
    visibility: visible;
  }
}

.feature-annotations {
  position: absolute;
  top: 0px;
  width: 100%;
  font-size: 14px;

  .annotation {
    position: absolute;
    border-radius: 3px;
    padding: 0 5px;
    top: 7px;
    cursor: default;
    color: white;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: bottom center;
    transform: scale(0);

    &:global(.show) {
      transform: scale(1);
    }

    &::before {
      position: absolute;
      content: '';
      width: 6px;
      height: 6px;
      bottom: 0;
      left: 51%;
      transform: translate(-50%, 50%) rotate(45deg);
      background-color: inherit;
    }

    &:global(.no-triangle) {
      &:global(::before) {
        width: 0px;
        height: 0px;
      }
    }
  }

  .annotation-name {
    color: $gray-600;
    padding: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: scale(1);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    .svg-icon {
      fill: $gray-400;
      color: $gray-400;
      margin-right: 4px;

      :global(svg) {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    &.show {
      opacity: 1;
    }

    .feature-difficulty {
      margin-left: auto;
      border-radius: 50%;
      width: 1.6rem;
      height: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid $gray-200;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        :global(svg) {
          width: 1.2rem;
          height: 1.2rem;
        }
        margin: 0;
      }

      &:global(.hidden) {
        opacity: 0;
        transition: none;
      }

      &:hover {
        .local-tooltip {
          transition-delay: 200ms;
          transform: translateX(-50%) translateY(-8px) scale(1);
        }
      }
    }
  }

  .annotation-user {
    background-color: $blue-500;
    left: 20px;
  }

  .annotation-coach {
    background-color: $green-600;
    left: 20px;
  }

  .annotation-original {
    background-color: $gray-500;
    left: 20px;
  }

  .annotation-range {
    background-color: $orange-50;
    color: $orange-800;
    left: 20px;
  }
}

.feature-slider {
  position: absolute;
  top: 155px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;

  .track {
    width: calc(100% - #{2 * $range-thumb-width + 2 * $card-h-padding});
    background-color: $gray-200;
    // Only use top and bottom border here to avoid offsetting the left and right
    // with artifacts => cause misalignment with svg dimension
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    left: $range-thumb-width;
    height: 8px;

    .range-track {
      position: absolute;
      height: 6px;
      background-color: $orange-100;
    }
  }

  .svg-icon.thumb {
    position: absolute;
    padding: 0;
    margin: 0px;
    top: -4px;

    color: $orange-300;
    fill: $orange-300;
    cursor: grab;

    :global(svg) {
      width: 8px;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: $base-circle-radius;
      height: $base-circle-radius;
      border-radius: 50%;
      background: currentColor;
      opacity: 0.2;
      // Center the background circle
      left: 50%;
      top: 50%;
      margin-top: -($base-circle-radius / 2);
      margin-left: -($base-circle-radius / 2);
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      transform: scale(0.1);
      transition: transform 300ms ease-in-out;
    }
  }

  .svg-icon.thumb:hover {
    &::before {
      transform: scale(5);
    }

    .thumb-label {
      transition-delay: 200ms;
      transform: translateX(-50%) translateY(100%) scale(1);
    }
  }

  .svg-icon.thumb:focus {
    cursor: grabbing;
    outline: none;

    &::before {
      transform: scale(7);
    }

    .thumb-label {
      transform: translateX(-50%) translateY(100%) scale(1);
    }
  }

  .svg-icon.icon-range-thumb-middle {
    fill: $gray-400;
    color: $gray-400;
    stroke: $gray-100;
    stroke-width: 10;
    top: -10px;

    :global(svg) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  :global(.svg-icon.icon-range-thumb-middle.user) {
    fill: $blue-400;
    color: $blue-400;
    stroke: $blue-100;
  }

  :global(.svg-icon.icon-range-thumb-middle.coach) {
    fill: $green-500;
    color: $green-500;
    stroke: $green-100;
  }

  &.collapsed {
    display: none;
  }

  &.expanded {
    visibility: visible;
  }
}

.thumb-label {
  position: absolute;
  top: 5px;
  left: 50%;

  font-size: 0.8rem;
  border-radius: 2px;
  line-height: 1.2;
  white-space: nowrap;
  background-color: $gray-500;
  color: white;

  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform-origin: top center;
  transform: translateX(-50%) translateY(100%) scale(0);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;

  &.thumb-label-middle {
    top: 12px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -220%) rotate(45deg);
    background-color: inherit;
  }
}

.feature-ticks {
  margin: 0 0 10px 0;
  height: 40px;
  box-sizing: border-box;
}

.svg-hist {
  :global(.mark line) {
    stroke-dasharray: 0;
  }

  :global(.mark.no-dash line) {
    stroke-dasharray: 0;
  }

  :global(.density-original-mark line) {
    stroke-width: 2;
    stroke: $gray-600;
  }

  :global(.density-user-mark line) {
    stroke-width: 2;
    stroke: $blue-500;
  }

  :global(.density-coach-mark line) {
    stroke-width: 2;
    stroke: $green-600;
  }

  :global(.tick line) {
    stroke: $orange-100;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: scaleY(1.8);
    transition: transform 300ms ease-in-out;
  }

  :global(.tick.out-range line) {
    stroke: $gray-200;
    transform: scaleY(1);
  }

  :global(.original-mark line) {
    stroke-width: 2;
    stroke: $gray-600;
  }

  :global(.user-mark line) {
    stroke-width: 2;
    stroke: $blue-500;
  }

  :global(.coach-mark line) {
    stroke-width: 2;
    stroke: $green-600;
  }
}

.arrow-up {
  position: absolute;
  top: -7px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

.arrow-down {
  position: absolute;
  bottom: -17px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid black;
}

.svg-hist {
  :global(.area-path) {
    fill: $gray-300;
    &.selected {
      fill: pink;
    }
  }

  :global(.area-path.selected) {
    fill: $orange-300;
  }
}

.configuration {
  width: calc(100% + #{2 * $card-h-padding});
  flex: 0 0 auto;
  margin: 0px #{-$card-h-padding} #{-$card-v-padding} #{-$card-h-padding};
  padding: 10px $card-h-padding #{3px + $card-v-padding} $card-h-padding;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-top: 1px solid adjust-color($gray-light-border, $alpha: -0.05);

  display: flex;
  gap: 6px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: white;

  visibility: hidden;

  .tag {
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0px 5px;
    display: inline-block;
    overflow-wrap: break-word;
    position: relative;

    &:hover {
      .local-tooltip {
        transition-delay: 200ms;
        transform: translateX(-50%) translateY(-8px) scale(1);
      }
    }

    &.shown {
      display: inline-block;
    }
  }

  .difficulty-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    background: $indigo-50;
    color: $indigo-900;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      :global(svg) {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .acceptable-tag {
    background: $orange-50;
    color: $orange-800;
  }

  &.collapsed {
    display: none;
  }

  &.expanded {
    visibility: visible;

    .tag {
      display: flex;
    }
  }

  &.constrained {
    display: flex;
    visibility: visible;

    .tag {
      display: none;

      &.shown {
        display: flex;
      }
    }
  }

  &.constrained:not(.collapsed) {
    .tag {
      display: flex;
    }
  }
}

.local-tooltip {
  position: absolute;
  left: 50%;
  bottom: 100%;
  z-index: 1;

  font-size: 0.8rem;
  border-radius: 2px;
  line-height: 1.2;
  background-color: $gray-900;
  border: 1px solid $gray-border;
  color: white;
  width: 215px;
  text-align: center;

  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform-origin: bottom center;
  transform: translateX(-50%) translateY(-8px) scale(0);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;

  &::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    bottom: 0;
    left: 50%;
    border-bottom: 1px solid $gray-border;
    border-right: 1px solid $gray-border;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: inherit;
  }

  .content {
    z-index: 2;
  }
}

.hidden {
  visibility: hidden;
}

.no-display {
  display: none;
}
