@import '../../define';

.arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 15px;
  height: 5px;

  &::after,
  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
  }

  &::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(45deg);
    bottom: -2px;
  }

  &::before {
    width: 100%;
    height: 2px;
    bottom: 1px;
    background: currentColor;
  }
}

$list-item-color: white;
$list-item-border-color: $gray-300;

.list-item {
  display: flex;
  flex-direction: column;

  background: $list-item-color;
  border-radius: 4px;
  border: 1px solid $list-item-border-color;
  padding: 5px 8px 7px 8px;
  cursor: pointer;
}

.list-item:hover {
  border: 1px solid adjust-color($color: $list-item-border-color, $lightness: -20%);
  // margin: -1px;
}

.list-item:active {
  // border: 1px solid adjust-color($color: $list-item-border-color, $lightness: -15%);
  background: adjust-color($color: $list-item-color, $lightness: -2%);
}

.list-item:global(.selected) {
  margin-right: -2px;
  border-right: 3px solid $orange-400;
}

.item-header {
  font-weight: 600;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // gap: 5px;
  flex-wrap: wrap;

  font-size: 0.9rem;
}

.item-value {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

.item-value-change {
  .arrow-right {
    color: $gray-500;
  }
}

.item-constraint-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-top: 1px solid $gray-light-border;

  padding-top: 7px;
  margin-top: 2px;
}

.difficulty-tag {
  border-radius: 5px;
  padding: 0 5px;
  background: $pink-50;
  color: $pink-900;
}

.acceptable-range-tag {
  border-radius: 5px;
  padding: 0 5px;
  background: $indigo-50;
  color: $indigo-600;
}
