@import './InputForm.scss';

.content {
  max-height: 600px;
  max-width: 500px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 15px;

  .label {
    font-size: 1rem;
  }
}

.control {
  .error-message {
    color: $gray-600;
    font-size: 0.9rem;
  }
}

.constraint-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.constraint-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.constraint-item {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  .constraint-item-name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: $orange-50;
    color: $orange-800;

    &.difficulty {
      background-color: $indigo-50;
      color: $indigo-800;
    }

    .svg-icon {
      width: 1rem;
      height: 1rem;
      margin: 0 3px;
    }
  }

  .constraint-rating {
    flex-shrink: 0;

    select {
      width: 100%;
    }
  }
}

textarea {
  width: 100%;
  height: 200px;
}