@import '../../define';

$v-padding: 15px;
$border-radius: 5px;

.input-form {
  border-radius: $border-radius;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  display: flex;
  flex-direction: column;

  // width: 550px;
  cursor: default;

  &.no-display {
    display: none;
  }
}

.header {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-color: $gray-200;
  padding: 10px $v-padding;
  font-size: 1.1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  background-color: white;
  padding: 15px $v-padding;
  border-top: 1px solid $gray-light-border;
  border-bottom: 1px solid $gray-light-border;

  font-size: 0.9rem;

  display: flex;
  flex-direction: column;
}

.content-cont {
  display: grid;
  grid-template-columns: [start] 1fr [mid] 1fr [end];
  column-gap: 15px;
  row-gap: 5px;

  .input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .name {
      flex: 0 0 auto;
      text-decoration: underline;
      text-decoration-style: dotted;
    }

    .feature-input {
      width: 100%;
      min-width: 30px;

      box-sizing: border-box;
    }
  }
}

.content-cat {
  display: grid;
  grid-template-columns: [start] 1fr [mid] 1fr [end];
  column-gap: 15px;
  row-gap: 5px;
  margin-top: 20px;

  .input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .name {
      flex: 0 0 auto;
      text-decoration: underline;
      text-decoration-style: dotted;
    }

    .feature-select {
      width: 100%;
      min-width: 30px;

      box-sizing: border-box;
    }
  }
}

.control {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: $gray-200;
  padding: 12px $v-padding;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  .error-message {
    margin-right: auto;
    color: $pink-600;
    display: none;

    &.out-range {
      display: inline;
    }
  }

  .button {
    background-color: white;
    padding: 2px 8px;
    border-radius: 5px;
    border: 1px solid $gray-light-border;
    cursor: pointer;

    &.button-confirm {
      background-color: $blue-600;
      border: none;
      color: white;

      &:hover {
        background-color: adjust-color($color: $blue-600, $lightness: -5%);
        border: none;
      }

      &:active {
        background-color: adjust-color($color: $blue-600, $lightness: -10%);
        border: none;
      }

      &.out-range {
        cursor: no-drop;
        background-color: $gray-500;
      }
    }

    &:hover {
      border: 1px solid adjust-color($gray-light-border, $alpha: +0.05);
    }

    &:active {
      border: 1px solid adjust-color($gray-light-border, $alpha: +0.1);
    }

  }
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $gray-500;
  cursor: pointer;

  :global(svg) {
    width: 1.4rem;
    height: 1.4rem;
  }

  &:hover {
    fill: adjust-color($color: $gray-500, $lightness: -10%);
  }
}

.input-form-back {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: $gray-900;
  opacity: 0.8;
  pointer-events: none;
  top: 0px;
  left: 0px;

  &.no-display {
    display: none;
  }
}
