@import '../../define';

$v-padding: 15px;
$border-radius: 5px;

.confirm-modal {
  border-radius: $border-radius;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  display: flex;
  flex-direction: column;

  width: 450px;
  cursor: default;

  &.no-display {
    display: none;
  }
}

.header {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-color: $gray-200;
  padding: 10px $v-padding;
  font-size: 1.1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  background-color: white;
  padding: 10px $v-padding;
  border-top: 1px solid $gray-light-border;
  border-bottom: 1px solid $gray-light-border;

  font-size: 0.9rem;

  display: flex;
  flex-direction: column;
  gap: 15px;

  .content-skip {

    label {
      display: flex;
      gap: 6px;
      align-items: center;
      color: $gray-800;

      input {
        flex: none;
      }
    }
  }
}

.control {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: $gray-200;
  padding: 12px $v-padding;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  .button {
    background-color: white;
    padding: 2px 8px;
    border-radius: 5px;
    border: 1px solid $gray-light-border;
    cursor: pointer;

    &.button-confirm {
      background-color: $blue-600;
      border: none;
      color: white;

      &:hover {
        background-color: adjust-color($color: $blue-600, $lightness: -5%);
        border: none;
      }

      &:active {
        background-color: adjust-color($color: $blue-600, $lightness: -10%);
        border: none;
      }
    }

    &:hover {
      border: 1px solid adjust-color($gray-light-border, $alpha: +0.05);
    }

    &:active {
      border: 1px solid adjust-color($gray-light-border, $alpha: +0.1);
    }
  }
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $gray-500;
  cursor: pointer;

  :global(svg) {
    width: 1.4rem;
    height: 1.4rem;
  }

  &:hover {
    fill: adjust-color($color: $gray-500, $lightness: -10%);
  }
}

.confirm-modal-back {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: $gray-900;
  opacity: 0.8;
  pointer-events: none;
  top: 0px;
  left: 0px;

  &.no-display {
    display: none;
  }
}
