@import './InputForm.scss';

.content {
  max-height: 600px;
  max-width: 490px;
  overflow: auto;
  overscroll-behavior: none;
}

.control {
  .error-message {
    color: $gray-600;
    font-size: 0.9rem;
  }
}

.plan-row {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 8px 0;
}

.plan-title {
  font-size: 0.9rem;
  font-weight: 600;
}

.plan-change {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 10px 0;
  gap: 10px;
  background-color: $gray-100;
  border-left: 3px solid $gray-light-border;
}

.plan-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.plan-review {
  textarea {
    width: 240px;
    height: 90px;
    margin-right: 5px;
  }
}

.plan-feature {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  padding-left: 8px;

  .feature-name {
    font-weight: 600;
  }

  .values {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    // color: $gray-600;

    .value-change {
      padding: 0px 14px 8px 5px;
      margin: -5px 0 0 0;
      color: $green-600;

      &.user {
        color: $blue-600;
      }
    }
  }

  .feature-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    color: $gray-500;

    &.user {
      color: $gray-500;
    }
  }

  .arrow-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 100%;
    height: 5px;

    &::after,
    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      right: 3px;
    }

    &::after {
      width: 8px;
      height: 8px;
      border-top: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(45deg);
      bottom: 7px;
    }

    &::before {
      width: calc(100% - 4px);
      height: 2px;
      bottom: 10px;
      background: currentColor;
    }
  }

  .arrow-right-cat {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 15px;
    height: 5px;

    &::after,
    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      right: 0px;
    }

    &::after {
      width: 8px;
      height: 8px;
      border-top: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(45deg);
      bottom: -2px;
    }

    &::before {
      width: 100%;
      height: 2px;
      bottom: 1px;
      background: currentColor;
    }
  }
}

.description {
  &.bottom {
    border-top: 1px solid $gray-light-border;
    margin-top: 10px;
    padding-top: 10px;
  }
}

.tips {
  border-radius: 0.2rem;
  background-color: $teal-50;
  color: $teal-800;
  padding: 4px 6px;
}