@import '../../define';

.list-panel {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  max-width: 300px;

  box-sizing: border-box;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  border-right: 1px solid $gray-light-border;
  overflow-y: auto;
}

.list {
  padding: 10px 15px 20px 15px;
  border-bottom: 1px solid $gray-light-border;

  display: flex;
  flex-direction: column;

  &:last-of-type {
    border-bottom: none;
  }
}

.sub-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .list-title {
    font-size: 1.1rem;
    font-weight: 400;
    font-variant: small-caps;
    color: $gray-700;
    margin-bottom: 5px;
  }

  &:first-of-type {
    margin-top: 2px;
  }
}

.list-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.list-subtitle {
  font-size: 0.9rem;
  color: $gray-700;
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.no-margin {
  margin: 0;
}