@import '../../define';

.score-panel {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: default;
  width: 100%;

  :global(.decision) {
    flex: 0 1 auto;
    font-size: 0.8rem;
    border-radius: 2px;
    padding: 0 3px;
    border: 1px solid $green-300;
    color: $green-700;
    margin-bottom: 6px;

    &:global(.regression) {
      padding: 0 1px;
    }
  }
}

.score-svg {
  flex: 1 1 auto;

  :global(.back-rect) {
    fill: $gray-300;
  }

  :global(.top-rect) {
    fill: $gray-400;
  }

  :global(.in-range) {
    fill: $green-200;
  }

  :global(.min-threshold), :global(.max-threshold) {
    fill: $blue-gray-300;
    stroke-linejoin: round;
    stroke-width: 10;
    stroke-opacity: 0;
    stroke: white;
    transform-origin: center;

    &:hover {
      transform: scaleY(3);
    }
  }

  :global(.original-value) {
    fill: $gray-600;
    stroke-linejoin: round;
    stroke-width: 10;
    stroke-opacity: 0;
    stroke: white;
    transform-origin: center;

    &:hover {
      transform: scaleY(3);
    }
  }
}
