@import '../../define';

.score-panel {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: default;
  width: 100%;
}

.score-svg {
  flex: 1 1 auto;

  :global(.back-rect) {
    fill: $gray-300;
  }

  :global(.top-rect) {
    transition: fill 200ms;
    fill: $gray-400;
  }

  :global(.in-range) {
    fill: $green-200;
  }

  :global(.min-threshold), :global(.max-threshold) {
    fill: $gray-600;
    stroke-linejoin: round;
    stroke-width: 10;
    stroke-opacity: 0;
    stroke: white;
    transform-origin: center;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);

    &:hover {
      transform: scaleY(3);
    }
  }

  :global(.original-value) {
    fill: $gray-500;
    stroke-linejoin: round;
    stroke-width: 10;
    stroke-opacity: 0;
    stroke: white;
    transform-origin: center;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);

    &:hover {
      transform: scaleY(3);
    }
  }
}

.decision {
  flex: 0 1 auto;
  position: relative;

  margin-bottom: 6px;
  padding: 0 3px;

  font-size: 0.8rem;
  border-radius: 2px;

  border: 1px solid $gray-500;
  color: $gray-700;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.regression {
    padding: 0 1px;
  }

  &.isInRange {
    border: 1px solid $green-300;
    color: $green-700;
  }
}
