@import '../../define';
@import './ArticleText.scss';

.list-item {
  padding-left: 5px;
  display: inline-flex;
}

.article {
  h4 {
    margin-top: 40px;
    margin-bottom: 0px;

    &:first-of-type {
      margin-top: 10px;
    }
  }
}

blockquote {
  grid-column: text-start / text-end;
  background: $orange-50;
  border-left: 10px solid $orange-100;
  color: $brown-900;
  margin: 20px 0 10px 0;
  padding: 0.5em 10px;
  border-radius: 5px;

  &:before {
    color: $orange-300;
    content: '\201c';
    font-size: 4em;
    line-height: 0px;
    margin-right: 10px;
    vertical-align: -30px;
    font-family: 'Arial', 'Helvetica Neue', sans-serif;
  }

  p {
    display: inline;
  }

  &.response {
    margin: 10px 0 10px 0;
    background: $green-50;
    border-left: 10px solid $green-100;
    color: $teal-900;

    &:before {
      color: $green-300;
    }
  }
}
