@import '../../define';
@import './ArticleText.scss';

.page {
  display: flex;
  flex-direction: column;
}

.top {
  position: relative;
  display: grid;
  grid-template-columns: [start] 1fr [mid-start] auto [mid-end] 1fr [end];
  grid-template-rows: [start] 1fr [content-start] auto [content-end] 1fr [end];

  height: calc(100vh - 5px);
  max-height: 800px;
  width: 100vw;
  box-sizing: border;
}

.top-fill {
  background: $teal-900;
  grid-column: start / end;
  grid-row: start / end;
  height: 70%;
}

.top-empty {
  grid-column: end / start;
  grid-row: start / end;
  height: 30%;
}

.coach-left {
  grid-column: start / mid-start;
  grid-row: content-start / content-end;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  color: white;
  text-align: right;
  cursor: default;

  padding: 52px 20px 0 20px;
}

.coach-right {
  grid-column: mid-end / end;
  grid-row: content-start / content-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 52px 20px 0 20px;
  color: white;

  .description {
    max-width: 245px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 0.95rem;

    strong {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .button {
    background-color: $teal-800;
    padding: 2px 8px;
    border-radius: 5px;
    border: 1px solid $gray-light-border;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: $teal-700;
    }

    &:active {
      background-color: $teal-600;
    }
  }

  .code {
    margin-top: 5px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.no-display {
      display: none;
    }

    .code-number {
      background-color: $orange-800;
      padding: 2px 5px;
      border-radius: 5px;
      width: 100%;
      text-align: center;
    }
  }

  .download-message {
    margin-top: 3px;
    font-size: 0.89rem;
    text-align: center;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 1.1rem;
  }

  .svg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    :global(svg) {
      width: 30px;
      height: 30px;
    }
  }

  .dataset-menu {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 2px;

    .dataset-description {
      font-weight: 200;
      border-bottom: 2px solid change-color($color: $teal-700, $alpha: 0.3);
      margin-bottom: 5px;
      display: flex;
      padding-left: 10px;

      // Temp
      max-width: 200px;
      font-size: 15px;
    }

    .dataset-option {
      display: flex;

      .dataset-place {
        width: 10px;
        border-left: 4px solid $teal-900;
        transition: border-color 100ms ease-in-out, color 100ms ease-in-out;
      }

      .dataset-name {
        cursor: pointer;
        transition: border-color 100ms ease-in-out, color 100ms ease-in-out,
          font-weight 100ms ease-in-out;
        font-variant: small-caps;
      }

      &:hover {
        .dataset-name {
          color: $teal-500;
        }
      }

      &.selected {
        .dataset-place {
          border-left: 4px solid $teal-700;
        }

        .dataset-name {
          // font-weight: 800;
          color: $teal-500;
        }
      }
    }
  }
}

.coach-wrapper {
  grid-column: mid-start / mid-end;
  grid-row: content-start / content-end;

  border: 1px solid $gray-light-border;
  background: $gray-50;
  border-radius: $border-radius;
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.08),
    0px 0px 10px hsla(0, 0%, 0%, 0.08), 0px 5px 35px hsla(0, 0%, 0%, 0.15);
  overflow: hidden;
}

.help-note {
  max-width: 245px;

  .title-top {
    font-weight: 300;
    font-size: 1.1rem;
  }

  .title {
    font-weight: 800;
    font-size: 1.1rem;
  }

  .input-number {
    font-weight: 800;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 7px;

    .number {
      margin-right: 4px;
      font-size: 1.2rem;
    }

    .svg-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $teal-700;
      cursor: pointer;
      pointer-events: fill;

      :global(svg) {
        height: 1rem;
      }

      &:hover {
        color: $teal-600;
      }

      &:active {
        color: $teal-500;
      }

      &.no-display {
        display: none;
      }
    }
  }

  .description {
    // margin-top: 15px;
    font-size: 0.9rem;
    font-weight: 300;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      color: white;
      text-decoration: underline;
    }

    strong {
      font-weight: 800;
    }
  }
}

.help-arrow {
  margin-top: 20px;
  width: 48px;
  color: $teal-700;
}

.task-list {
  :global(em) {
    font-style: normal;
    font-weight: 600;
    color: $light-blue-700;
  }
}

.teal {
  color: $teal-900;
}

.article-footer {
  background: $teal-900;
  color: white;
  padding: 2rem 0 2em 0;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
.footer-main {
  display: flex;
  max-width: 100ch;
  flex-direction: row;
}
.footer-cp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  display: flex;
  margin-right: 30px;
  gap: 30px;
}

.no-display {
  display: none;
}
