@import '../../define';

.svg-icon {
  fill: $gray-400;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;

  :global(svg) {
    width: 1.3rem;
    height: 1.3rem;
  }

  .icon-label {
    position:absolute;
    bottom: 13px;
    left: 50%;

    font-size: 0.8rem;
    border-radius: 2px;
    line-height: 1.2;
    white-space: nowrap;
    background-color: white;
    border: 1px solid $gray-border;
    color: $gray-700;

    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: bottom center;
    transform: translateX(-50%) translateY(-60%) scale(0);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;

    &::before {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      top: 0;
      left: 50%;
      border-bottom: 1px solid $gray-border;
      border-right: 1px solid $gray-border;
      transform: translate(-50%, 200%) rotate(45deg);
      background-color: inherit;
    }

  }

  &:hover {
    fill: adjust-color($color: $gray-400, $lightness: -5%);

    .icon-label{
      transition-delay: 200ms;
      transform: translateX(-50%) translateY(-60%) scale(1);
    }
  }

  &:active {
    fill: adjust-color($color: $gray-400, $lightness: -10%);
  }
}

.coach-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  height: 160px;
  flex: 1 0 auto;

  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.coach-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px 15px;
}

.coach-logo {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.coach-labels {
  display: grid;
  grid-template-columns: [col-start] auto [col-mid] auto [col-end];
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 5px;
  margin: 0 40px 0 10px
}

.coach-label {
  display: flex;
  align-items: center;
  position: relative;

  &.name {
    justify-self: end;
    font-weight: 600;
    padding-right: 10px;

    &::after{
      content: '';
      position: absolute;
      right: 0px;
      width: 1px;
      height: 20px;
      border-right: 1px solid hsla(0, 0%, 0%, 0.2);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.value {
    justify-self: start;
  }
}

.coach-bar {
  flex: 7 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $pink-50;

  svg {
    width: 20px;
    height: 20px;
  }
}

.coach-tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  height: 38px;
  border-top: 1px solid $gray-light-border;
  border-bottom: 1px solid $gray-light-border;
  background-color: $gray-200;

  padding: 2px 15px;
}

.tabs {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  gap: 4px;
  overflow: hidden;

  .tab {
    border: 1px solid $gray-300;
    border-radius: 7px;
    padding: 2px 5px 2px 10px;
    flex: 1 1 auto;
    background: white;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    &:hover {
      border: 1px solid $gray-400;
    }

    &:global(.selected) {
      border: 1px solid $gray-500;
      // font-weight: 600;
    }
  }

  .tab-name {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    &::after {
      content: attr(data-text);
      content: attr(data-text) / "";
      height: 0;
      visibility: hidden;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
      font-weight: 600;
    }
  }

  .tab-icon {
    color: $gray-400;
    padding: 4px;
    flex: 0 0 auto;
    border-radius: 100%;

    :global(svg) {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      color: adjust-color($color: $gray-400, $lightness: -10%);
      background: $gray-200;
    }

    &:active {
      background: adjust-color($color: $gray-200, $lightness: -4%);
    }
  }
}

.nav-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;

  .rect-icon {
    background: white;
    border-radius: 6px;
    border: 1px solid $gray-light-border;
    padding: 4px 5px;
    color: $gray-500;

    :global(svg) {
      width: 0.9rem;
      height: 0.9rem;
    }

    &:hover {
      color: $gray-600;
      background: adjust-color($color: white, $lightness: -2%);
    }

    &:active {
      background: adjust-color($color: white, $lightness: -5%);
    }
  }

  .icon-refresh {
    :global(svg) {
      fill: none;
      stroke-width: 32;
    }
  }
}

.tab-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;

  input {
    width: 70px;
    padding: 1px;
    margin: 0;
  }

  .tab-keyword {
    font-weight: 600;
  }
}

.select {
  position: relative;
  border-radius: 4px;
  border: 1px solid $gray-light-border;

  select {
    padding: 0;
    margin: 0 16px 0 5px;
    background: $gray-200;
    border: none;
    position: relative;

    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.select::after {
  right: 6px;

  $select-border-color: $gray-600;
  border-right: 2px solid $select-border-color;
  border-top: 2px solid $select-border-color;

  content: '';
  display: block;
  height: 6px;
  width: 6px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  transform-origin: center;
}
