@import '../../define';
@use 'sass:math';

$range-thumb-width: 8px;
$base-circle-radius: 5px;
$card-v-padding: 6px;
$card-h-padding: 16px;

.feature-header {
  padding: $card-v-padding $card-h-padding 5px $card-h-padding;
}

.arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 15px;
  height: 5px;

  &::after,
  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
  }

  &::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(45deg);
    bottom: -2px;
  }

  &::before {
    width: 100%;
    height: 2px;
    bottom: 1px;
    background: currentColor;
  }
}

.values {
  gap: 2px;
}

.value-label {
  display: flex;
}

.svg-hist {
  $highlight-stroke-width: 3;

  :global(.bar) {
    cursor: pointer;
  }

  :global(.level-bar) {
    fill: none;
    stroke: none;
  }

  :global(.density-bar) {
    fill: $gray-500;
  }

  :global(.back-bar) {
    fill: $gray-200;
  }

  :global(.bar.selected .density-bar) {
    fill: $orange-300;
  }

  :global(.bar.selected .back-bar) {
    fill: $orange-100;
  }

  :global(.bar.user .level-bar) {
    stroke: $blue-400;
    stroke-width: $highlight-stroke-width;
  }

  :global(.bar.coach .level-bar) {
    stroke: $green-500;
    stroke-width: $highlight-stroke-width;
  }

  :global(.bar.original .level-bar) {
    stroke: $gray-600;
    stroke-width: $highlight-stroke-width;
  }

  :global(.text-background) {
    fill: hsla(0, 0%, 100%, 0);
  }

  :global(.text-background.hover) {
    fill: change-color($blue-50, $alpha: 1);
  }

  :global(.y-label) {
    cursor: pointer;
    font-size: 0.9rem;
    fill: $gray-600;
  }

  :global(.y-label.original) {
    fill: $gray-600;
    :global(.text-background) {
      fill: $gray-200;
    }
  }

  :global(.y-label.original.user) {
    fill: $gray-600;
    :global(.text-background) {
      fill: $gray-200;
    }
  }

  :global(.y-label.original.coach) {
    fill: $gray-600;
    :global(.text-background) {
      fill: $gray-200;
    }
  }

  :global(.y-label.user) {
    fill: $blue-800;

    :global(.text-background) {
      fill: $blue-50;
    }
  }

  :global(.y-label.coach) {
    fill: $green-700;

    :global(.text-background) {
      fill: $green-50;
    }
  }
}

.thumb-label {
  &.thumb-label-middle {
    top: 15px;
  }

  &::before {
    transform: translate(-50%, -220%) rotate(45deg);
  }
}

span :global(.blue) {
  color: $blue-700;
}

span :global(.green) {
  color: $green-600;
}

span :global(.orange) {
  color: $orange-700;
}

span :global(.gray) {
  color: $gray-600;
}

span :global(.blue-inverse) {
  background-color: $blue-500;
  color: white;
  border-radius: 3px;
  padding: 2px 5px;
}

span :global(.green-inverse) {
  background-color: $green-600;
  color: white;
  border-radius: 3px;
  padding: 2px 5px;
}

span :global(.orange-inverse) {
  background-color: $orange-700;
  color: white;
  border-radius: 3px;
  padding: 2px 5px;
}

span :global(.gray-inverse) {
  background-color: $gray-500;
  color: white;
  border-radius: 3px;
  padding: 2px 5px;
}
