@import '../define';
@use 'sass:math';

$range-thumb-width: 8px;
$base-circle-radius: 5px;

.feature-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  padding: 8px 16px;
  box-shadow: $shadow-border-light;
  background: white;
  position: relative;
}

.feature-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.values {
  display: flex;
  flex-direction: row;
  align-items: center;

  .value-change {
    font-size: 0.8em;
    padding: 0px 14px 8px 5px;
    margin: -5px 0 0 0;
    color: $green-600;
  }
}

.feature-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;

  .svg-icon {
    color: $gray-800;

    :global(svg) {
      width: 10px;
      height: 5px;
    }
  }
}

.svg-icon {
  color: $gray-800;
  fill: $gray-800;
  display: flex;

  :global(svg) {
    width: 1em;
    height: 1em;
  }
}

.arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  height: 5px;

  &::after,
  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px;
  }

  &::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid $gray-400;
    border-right: 2px solid $gray-400;
    transform: rotate(45deg);
    bottom: 7px;
  }

  &::before {
    width: calc(100% - 4px);
    height: 2px;
    bottom: 10px;
    background: $gray-400;
  }
}

.feature-hist {
  border: 1px solid $gray-200;
  margin: 0 0 10px 0;
  height: 80px;
}

.feature-slider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  .track {
    width: calc(100% - #{2 * $range-thumb-width});
    background-color: $gray-200;
    position: absolute;
    left: $range-thumb-width;
    height: 4px;

    .range-track {
      position: absolute;
      height: 4px;
      background-color: $orange-100;
    }
  }

  .svg-icon.thumb {
    position: absolute;
    padding: 0;
    margin: 0px;
    top: -4px;

    color: $orange-300;
    fill: $orange-300;
    cursor: grab;

    :global(svg) {
      width: 8px;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: $base-circle-radius;
      height: $base-circle-radius;
      border-radius: 50%;
      background: currentColor;
      opacity: 0.2;
      // Center the background circle
      left: 50%;
      top: 50%;
      margin-top: -($base-circle-radius / 2);
      margin-left: -($base-circle-radius / 2);
      transform: scale(0.1);
      transition: transform 300ms ease-in-out;
    }
  }

  .svg-icon.thumb:hover {
    &::before {
      transform: scale(5);
    }

    .thumb-label {
      transform: translateX(-50%) translateY(-100%) scale(1);
    }
  }

  .svg-icon.thumb:focus {
    cursor: grabbing;
    outline: none;

    &::before {
      transform: scale(7);
    }

    .thumb-label {
      transform: translateX(-50%) translateY(-100%) scale(1);
    }
  }

  .svg-icon.icon-range-thumb-middle {
    fill: $gray-400;
    color: $gray-400;
    stroke: $gray-100;
    stroke-width: 15;

    :global(svg) {
      width: 1.2em;
      height: 1.2em;
    }
  }

  :global(.svg-icon.icon-range-thumb-middle.user) {
    fill: $blue-400;
    color: $blue-400;
    stroke: $blue-100;
  }

  :global(.svg-icon.icon-range-thumb-middle.coach) {
    fill: $orange-400;
    color: $orange-400;
    stroke: $orange-100;
  }
}

.thumb-label {
  position:absolute;
  top: -10px;
  left: 50%;

  font-size: 0.8em;
  border-radius: 2px;
  line-height: 1.2;
  white-space: nowrap;
  background-color: $gray-500;
  color: white;

  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform-origin: bottom center;
  transform: translateX(-50%) translateY(-100%) scale(0);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em;

  &::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: inherit;
  }
}

.feature-ticks {
  margin: 0 0 10px 0;
  height: 40px;
  box-sizing: border-box;
}

.svg-ticks {
  :global(.tick line) {
    stroke: $orange-100;
    transform: scaleY(1.8);
    transition: transform 300ms ease-in-out;
  }

  :global(.tick.out-range line) {
    stroke: $gray-200;
    transform: scaleY(1);
  }

  :global(.original-mark line) {
    stroke-width: 2;
    stroke: $gray-600;
  }

  :global(.user-mark line) {
    stroke-width: 2;
    stroke: $blue-500;
  }

  :global(.coach-mark line) {
    stroke-width: 2;
    stroke: $orange-500;
  }
}

.arrow-up {
  position: absolute;
  top: -7px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

.arrow-down {
  position: absolute;
  bottom: -17px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid black;
}

.svg-hist {
  :global(.area-path) {
    fill: $gray-300;

    &.selected {
      fill: pink;
    }
  }

  :global(.area-path.selected) {
    fill: $orange-300;
  }
}