@import '../../define';

.feature-panel {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  position: relative;

  min-width: 990px;
  height: 600px;

  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: white;
  cursor: default;

  overflow-y: scroll;
}

.card-block {
  &:last-of-type {
    margin-bottom: 20px;
  }
}

.card-row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px $panel-h-padding 10px $panel-h-padding;
  justify-content: space-between;
  align-items: flex-start;

  box-sizing: border-box;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  background: hsla(0, 0%, 99.5%, 1);
}

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.row-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  opacity: 0.95;
  border-bottom: 1px solid $gray-200;
  padding: 10px $panel-h-padding 5px $panel-h-padding;
  gap: 4px;

  position: sticky;
  top: 0px;
  z-index: 2;

  .label {
    font-size: 1rem;
    font-weight: 400;
    color: $gray-600;
  }

  .svg-icon {
    fill: $gray-400;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;

    :global(svg) {
      width: 1rem;
      height: 1rem;
    }
  }
}
